.acute-danger-card {
  background-color: white;
  width: 80%;
  margin: auto;
}

.acute-danger-title {
  font-size: 18px;
  color: var(--ion-color-tertiary, #156064) !important;
}

.description-title {
  font-size: 16px;
  padding-top: 0px;
  color: rgba(0, 0, 0, 0.7);
}
.description {
  font-size: 16px;
}
.status {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: 6px;
  margin-bottom: 4px;
}

.status-active {
  background: var(--ion-color-danger);
}

.status-resolving {
  background: var(--ion-color-success);
}

.acute-danger-button {
  color: var(--ion-color-tertiary, #156064) !important;
  font-size: 16px;
}
