.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  margin-left: 10px;
}

.route-title {
  flex: 1;
  color: #222428;
}

.route-action {
  margin-left: 20px;
}

.map-container {
  height: 150px;
  width: 100%;
}

.cardcolor{
  --background: white;
  box-shadow: 0 7px 7px rgba(0,0,0,0.01), 0 7px 7px rgba(0,0,0,0.05);
}
