.rounded-card {
  --border-radius: 35px;
  background-color: #f0f8f9;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 50px;
}

.questionBackground {
  background-color: white;
  border-radius: 10px;

  margin-top: 10px;
  margin-bottom: 8px;
}

.backgroundCard {
  background-color: white;
  border-radius: 8px;

  margin-top: 10px;
}

.icons {
  color: #156064;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.answer {
  color: #156064;
  justify-content: flex-start;
  text-align: left;
  margin-right: 60%;
}

#map {
  height: 100%;
  position: sticky;
  top: 0;
}
