.rounded-card {
    --border-radius: 35px;
    background-color: #F0F8F9;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 50px;
  }

  .colors {
    color: #156064;
  }

  .icons {
    color: #156064;
    display: flex;
    align-items: center;
  }

  .date {
    display: flex;
    align-items: center;
}