.rounded-modal {
  --border-radius: 36px;
  background-color: #f0f8f9;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  margin-top: 48px;
}

.notifications-title {
  color: #222428;
  font-size: 18px;
  margin-left: 4px;
}

.notifications-list {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: white;
}
