.rounded-modal {
  --border-radius: 20px;
  background-color: #f0f8f9;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  margin-top: 50px;
}

.distance {
  margin-left: 15px;
  margin-top: 15px;
}

.backgroundInput {
  background-color: #ffffff;
}

.buttonSize {
  margin-top: 5px;
  margin-bottom: 10px;
}
