.rounded-modal {
    --border-radius: 35px;
    background-color: #F0F8F9;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 50px;
  }
  
.distance {
    margin-left: 15px;
    margin-top: 15px;
}

.backgroundInput {
  background-color: #FFFFFF;
}

.buttonSize {
  margin-top: 5px;
  margin-bottom: 10px;
}