ion-toolbar{
  --background: var(--ion-color-primary);
  --color: var(--ion-color-light);

}

ion-back-button{
  padding: 9px;
  --icon-padding-end: 6px;
  color: var(--ion-color-light);
  font-size: 22px;
}
